:root {
  --font: whitesmoke;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  background: linear-gradient(to bottom right, rgba(55, 2, 85, 0.856), rgba(55, 2, 85, 0.555)), url(https://hips.hearstapps.com/hmg-prod/images/people-playing-paper-rock-scissors-royalty-free-illustration-1583269312.jpg?crop=0.994xw:0.799xh;0.00160xw,0.195xh&resize=2048:*);
  background-color:#121212;
  color: var(--font);
  font-family: 'Manrope', sans-serif;
  height: 100vh;
}

h2, span {
  font-size: 24px;
}

h2 {
  font-weight: bold;
  font-size: 24px;
}

h4 {
  font-size: 18px;
  line-height: 32px;
}

p {
  text-align: center;
}

button {
  padding: 0.75rem 1.4rem;
  color: #121212;
  border-radius: 6px;
  font-weight: bolder;
}

button:active {
  transform:scale(0.97);
}

#rock,
#paper,
#scissors {
  cursor: pointer;
}

.rock-font {
  font-family: 'Rubik Moonrocks', cursive;
  font-size: 52px;
  padding: 1rem;
  -webkit-text-stroke-width: .75px;
  -webkit-text-stroke-color: var(--font);
  color: rgb(69, 69, 69);
}

.paper-font {
  font-family: 'Quintessential', cursive;
  font-size: 52px;
  padding: 1rem;
  -webkit-text-stroke-color: #121212;
  color: var(--font);
}

.scissors-font {
  font-family: 'Henny Penny', cursive;
  font-size: 52px;
  padding: 1rem;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--font);
  color: rgb(167, 167, 167);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0.5rem;
  margin: 0.5rem;
  max-width: 1200px;
}

.header {
  margin: 4% auto;
  padding-bottom: 1.4rem;
}

.header h4 {
  text-align: center;
}

#scoreboard {
  width: 600px;
  padding: 1rem 0;
  margin: 1rem auto;
  background: linear-gradient(rgba(0, 0, 0, 0.26), rgba(0, 0, 0, 0.171));
  border: 4px solid var(--font);
  border-radius: 6px;
}

#outcome {
  content: '';
  padding: 8px;
  margin: 4px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.button {
  padding: 0.5rem 1rem;
  margin: 1.4rem auto;
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(3, 100px);
  grid-template-areas: "a a a" "a a a" "b c d";
  justify-items: center;
  gap: 0px 0px;
}

.a {
  grid-area: a;
}

.b {
  grid-area: b;
}

.c {
  grid-area: c;
}

.d {
  grid-area: d;
}

@media only screen and (max-width: 574px) {
  body {
    font-size: 14px;
  }

  .rock-font,
  .paper-font,
  .scissors-font {
    font-size: 38px;
  }

  h2 {
    font-size: 16px;
  }

  h4 {
    font-size: 12px;
  }

  p {
    font-size: 12px;
    margin: 2px auto;
  }

  .container {
    max-width: 90%;
  }

  #outcome {
    font-size: 14px;
  }

  img {
    height: 80px;
    width: 80px;
    padding: 0 2px;
  }

}

@media only screen and (max-width: 512px) {
  body {
    font-size: 12px;
  }

  .rock-font,
  .paper-font,
  .scissors-font {
    font-size: 28px;
  }
}